<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <script src="https://unpkg.com/vue@3.0.2"></script>
    <title>Vue JS Demo Application</title>
  </head>
  <body>
    <!-- <div id="app">
      3
      <p>{{ title }} - {{ author }} - {{ age }}</p>
      <button v-on:click="age++">Get Older</button>
      <button v-on:click="age--">Get Younger</button>
      <button @click="title = 'The title has changed.'">Change Title</button>
    </div> -->
    <!--Events on Vue using v-on-->
    <!-- {{ age }} -->

    <!-- <div id="two-way-binding">
      4
      <p>{{ message }}</p>
      <input v-model="message">
    </div> -->

    <!--using v-if-->
    <!-- <div id="conditional-rendering">
      5
      <span v-if="seen">Now you see me</span>
    </div> -->

    <!-- 6 <div id="books">
      <div v-if="showBooks">
        <p>{{ btitle }} - {{ bauthor }} - {{ year }}</p>
      </div>

      <button @click="toggleShowBooks">
        <span v-if="showBooks">Hide Books</span>
        <span v-else>Show Books</span>
      </button>
    </div> -->
  
    <h1 v-show="ok">Vue.js Demonstration!</h1>
    <!--using v-for directive-->
    <div id="list-rendering">
      <ol>
        <li v-for="todo in todos">
          {{ todo.text }}
        </li>
      </ol>
    </div>

    <!-- link to listfor.js -->
    <script src="listfor.js"></script>
    <!-- 2, 3<script src="app.js"></script> -->
    <!-- 4<script src="twoway.js"></script> -->
    <!-- 5<script src="conditionalif.js"></script> -->
    <!-- 6 <script src="book.js"></script> -->
  </body>
</html>

